Package: enigma2-plugin-extensions-movieplannermod
Version: 4.02-20211228
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Movie Planner Layout Mod by KiddaC
Source: https://www.linuxsat-support.com
